@import url(../../css/constants.css);

.main {
    width: 100vw;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    background: var(--blue-color);
}