.main {
    overflow: hidden;
    max-height: 200px;
    margin: 20px 0 10px;
}

.scrollWrapper {
    overflow-y: auto;
    max-height: 200px;
}

.item {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
    transition: var(--trans);
    background: var(--color-blue);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 3px 3px rgba(0, 0, 0, .2);

    font-size: .8rem;
}

.item:hover {
    background-color: rgba(22, 50, 79, .8);
}

.itemIcon {
    width: 40px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, .1);
}

.itemIcon_img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.item_toName {
    margin-left: 10px;
}

.callType {
    width: 15px;
    height: 15px;

    margin-left: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.callType__income {
    background-image: url(~@img/income-call.svg);
}

.callType__outcome {
    background-image: url(~@img/outcome-call.svg);
}