.main {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    transition: var(--trans);
    border-radius: var(--border-radius);

    color: var(--color-white);
}

.btn__reg {}
.btn__login {}
.btn__about {}

.btn:hover {
    background: rgba(255, 255, 255, .1);
}