.submitBtn {
    cursor: pointer;
    padding: 10px 15px;
    transition: var(--trans);
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, .2);
}

.submitBtn:hover {
    background-color: rgba(0, 0, 0, .3);
}

.submitBtn__disabled {
    cursor: not-allowed;
}

.submitBtn__disabled:hover {
    background-color: rgba(0, 0, 0, .2);
}