.main {
    width: 100%;
    height: calc(100vh - var(--header-height));

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-light-blue);
}

.loader {
    width: 50px;
    height: 50px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(~@img/loader.svg);
}